@include exports("appbar/theme") {

    .k-appbar {
        @include box-shadow($appbar-box-shadow);

        &.k-appbar-bottom {
            @include box-shadow($appbar-bottom-box-shadow);
        }
    }

    // AppBar theme colors
    @each $name, $color in $theme-colors {
        .k-appbar-#{$name} {
            border-color: $color;
            color: contrast-wcag( $color );
            background-color: $color;
        }
    }
}
