@import "~@progress/kendo-theme-default/scss/toolbar/_layout.scss";

@include exports("toolbar/layout/material") {

    .k-toolbar {

        // Button
        .k-button {
            @include box-shadow( none );

            &::before {
                display: block;
            }
            &::after {
                display: none;
            }
        }


        // Icon button
        .k-button-icon {}


        // Split button
        .k-split-button {

            .k-button {
                background: transparent;
            }


            .k-split-button-arrow {
                border-left-width: $split-button-arrow-border-width;
                border-color: transparent;

                &::before {
                    left: -$split-button-arrow-border-width;
                }
            }

            // Expanded state
            &.k-state-border-down {
                .k-i-arrow-60-down {
                    transform: rotate(180deg);
                }
            }
        }


        // Button group
        .k-button-group {
            @include box-shadow( none );
        }


        // Dropdowns and Inputs
        .k-widget {
            font: inherit;
            font-weight: 500;
            text-transform: uppercase;

            .k-input {
                text-transform: inherit;
            }
        }
        // TODO unselect if necessary after the design for inputs in toolbar is completed
        // .k-autocomplete,
        // .k-dateinput-wrap,
        // .k-multiselect-wrap,
        // .k-numeric-wrap,
        // .k-picker-wrap,
        // .k-dropdown-wrap {
        //     border-width: 0;
        // }

        .k-combobox,
        .k-dropdown {
            .k-dropdown-wrap {
                border-width: 0;
            }
            .k-dropdown-wrap::before {
                @extend .k-button-overlay;
                display: block;
            }
            .k-input {
                padding-left: $input-padding-y;
            }
        }

        .k-colorpicker {
            .k-picker-wrap {
                border-width: 0;
            }
        }

        // Switch
        .k-switch {
            font-size: $font-size-xs;
        }

    }


    // Overflow container
    .k-overflow-container {

        .k-button {
            @include box-shadow( none );
        }

        .k-button-group {
            @include box-shadow( none );
        }
    }

}
