@import "~@progress/kendo-theme-default/scss/toolbar/_theme.scss";

@include exports("toolbar/theme/material") {

    .k-toolbar {

        // Common for all
        .k-button:not(.k-primary),
        .k-menu-button:not(.k-primary),
        .k-split-button:not(.k-primary),
        .k-dropdown-button:not(.k-primary) {
            background-color: try-shade($toolbar-bg, 1);
        }

        .k-button.k-state-disabled,
        .k-state-disabled > .k-button {
            color: $button-disabled-text;
            // TODO: this we need to rework the buttons
            background-color: transparent !important; // sass-lint:disable-line no-important
        }


        // Button
        .k-button {}


        // Menu button
        .k-menu-button {}


        // Split button
        .k-split-button {

            // Hover state
            &:hover,
            &.k-state-hover {
                .k-button::before {
                    @include opacity( $flat-button-hover-opacity );
                }
            }

            // Focused state
            &:focus,
            &.k-state-focused {
                .k-button::before {
                    @include opacity( $flat-button-focused-opacity );
                }
            }

        }

        // Dropdowns and Inputs
        // TODO unselect if necessary after the design for inputs in toolbar is completed
        // .k-autocomplete,
        // .k-dateinput-wrap,
        // .k-multiselect-wrap,
        // .k-numeric-wrap,
        .k-picker-wrap,
        .k-dropdown-wrap {
            color: $button-text;

            .k-select {
                opacity: $icon-opacity;
            }
        }

        .k-dropdown,
        .k-combobox {

            .k-dropdown-wrap {
                color: $button-text;
                background-color: try-shade($toolbar-bg, 1);


                // Hover
                &:hover,
                &.k-state-hover {

                    &::before {
                        @include opacity( $flat-button-hover-opacity );
                    }

                    .k-select {
                        opacity: $icon-opacity;
                    }
                }

                // Focused
                &.k-state-focused,
                .k-state-focused > & {

                    &::before {
                        @include opacity( $flat-button-focused-opacity );
                    }

                    .k-select {
                        opacity: $icon-opacity;
                    }
                }

            }
        }

        .k-colorpicker {
            .k-picker-wrap {
                .k-select {
                    opacity: $icon-opacity;
                }
            }
        }
    }

}
